* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: black;
  }
  .base {
    max-width: 2400px;
    padding: 3%;
    margin: 0 auto;
  }
  .logo {
    color: white;
    font-size: 32px;
    font-family: 'Times New Roman';
  }
  .menu {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman';
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    list-style-type: none;
    padding: 0;
    background-color: #000000ff;
  
  }
  ul li {
    display: inline-block;
  }
  ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
  } 
  ul li a:hover {
    background-color: #b006e488;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: -180px;
    margin-right: -1%;
  }
  
  .calc-imc {
    padding: 1%;
    box-shadow: 6px 6px 20px rgb(215, 203, 221), -7px -6px 20px rgb(216, 204, 219);
    background-color: #9f56ad;
  }
  
  @media (min-width: 500px) {
    .calc-imc {
      display: left;
      align-items: center;
      justify-content: center;
      max-width: 500px;
      width: 100%;
      padding: 1%;
    }
  }
  
  .calc-imc h1 {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.3em;
  }
  
  .form label,
  .form button {
    margin-top: 1em;
  }
  
  .form input,
  .form button {
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    padding: 0.5em;
  }
  
  .form button {
    background-color: #fbefff;
    cursor: pointer;
    border-radius: 0.3em;
    width: 50%;
  }
  
  .form button:hover {
    filter: opacity(0.8);
  }
  
  .form button:active {
    background-color: #ffefff;
    color: #000;
    filter: opacity(0.8);
  }
  
  .message {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 1.2rem;
    font-style: italic;
    position: fixed;
    box-shadow: 0 0 4px #333;
  }
  
  @media screen and (max-width: 500px) {
    .message {
      bottom: 0;
    }
  }
  
  .sucess {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .warning {
    background-color: plum;
    color: #fff;
  }
  
  .alert {
    background-color: rgb(252, 232, 60);
    color: #fff;
  }
  
  .danger {
    background-color: rgb(214, 53, 32);
    color: #fff;
  }
  .img3 {
    width: 500px;
    position: absolute;
    top: 24%;
    left: 67%;
  }